@media screen and (max-width: 600px) {
    .container {
        width: 366px;
        margin: 0 auto;
    }

    .logo {
        display: none;
    }

    .headerNav {
        display: flex;
        justify-content: space-between;
    }

    .menu {
        width: 100%;
        justify-content: space-between;
    }

    .intro {
        display: block;
        width: 366px;
    }

    .photoBox {
        display: none;
    }

    .photoBoxMobile {
        display: flex;
        justify-content: center;
        margin-bottom: 64px;
    }
    
    .introBigText {
        font-size: 36px;
        text-align: center;
    }

    .work {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .workEl {
        max-width: 300px;
        margin-top: 15px;
    }
}
