:root {
    --colorLine: rgb(51, 97, 224);
}

/* хедер */

.header {
    position: fixed;
    width: 100%;
    height: 80px;
    backdrop-filter: blur(10px);
    background: rgba(50, 50, 50, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    z-index: 1;
}

.headerNav {
    opacity: 0.7;
    animation: appearance 3.5s forwards;
}

.menu {
    display: flex;
    gap: 56px;
}

/* интро */

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 150px;
}

.introText {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.introBigText {
    max-width: 530px;
    animation: appearanceTextIntro 3s forwards;
}

.introSmallText {
    animation: appearanceSmallTextIntro 5s forwards;
}

.photoBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo {
    border-radius: 50%;
    height: 450px;
    animation: appearanceSmallTextIntro 5s forwards;
}

.photoBoxMobile {
    display: none;
    padding-top: 150px;
}

/* aboutMe */

.aboutMe {
    margin-top: 150px;
    margin-bottom: 240px;
}

.aboutMeH {
    margin-bottom: 15px;
}

.aboutMeP {
    margin-bottom: 15px;
}

.skillName {
    color: #DEDEDE;
    font-size: 24px;
}

.skillsBox {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skillElBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skillLine {
    width: 100%;
    height: 15px;
    background-color: #6d6767;
}

.skillWidthHTML {
    height: 100%;
    width: 75%;
    background-color: var(--colorLine);
}

.skillWidthCSS {
    height: 100%;
    width: 50%;
    background-color: var(--colorLine);
}

.skillWidthReact {
    height: 100%;
    width: 50%;
    background-color: var(--colorLine);
}

.skillWidthVue {
    height: 100%;
    width: 25%;
    background-color: var(--colorLine);
}

.skillWidthNode {
    height: 100%;
    width: 25%;
    background-color: var(--colorLine);
}

.skillWidthSQL {
    height: 100%;
    width: 25%;
    background-color: var(--colorLine);
}

/* Contact */

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.contactIntro {
    text-align: center;
}

.boxContact {
    width: 400px;
    height: 90px;
    background: #9D9D9D;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.boxContact:hover {
    cursor: pointer;
}

.boxPochta {
    display: flex;
    gap: 20px;
}

.pochtaEm {
    width: 21px;
}

.contactText {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.phoneBox {
    display: flex;
    justify-content: center;
}

/* work */

.work {
    margin-bottom: 200px;
}

.workIntro {
    text-align: center;
}

.workFlex {
    display: grid;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.workBox {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
    transition-duration: 1s;
}

.workText {
    text-align: center;
}

.workEl {
    width: 800px;
    border-radius: 30px;
}

.workBox:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition-duration: 1s;
}

.urlGit {
    margin-top: 70px;
    text-decoration: none;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes appearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes appearanceTextIntro {
    from {
        margin-top: -1140px;
    }

    to {
        margin-top: 0;
    }
}

@keyframes appearanceSmallTextIntro {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}