* {
    padding: 0;
    margin: 0;
}

.text {
    font-family: "Manrope";
}

body {
    background: #202020;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* хедер */

.header {
    position: fixed;
    width: 100%;
    height: 80px;
    backdrop-filter: blur(10px);
    background: rgba(50, 50, 50, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.headerNav {
    opacity: 0.7;
    animation: appearance 3.5s forwards;
}

.menu {
    display: flex;
    gap: 56px;
}

.menuText {
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.5px;
    color: #DEDEDE;
}

/* интро */

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 150px;
}

.introText {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.introBigText {
    font-size: 54px;
    line-height: 64px;
    letter-spacing: -0.5px;
    color: #DEDEDE;
    max-width: 530px;
    animation: appearanceTextIntro 3s forwards;
}

.introSmallText {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.5px;
    color: #959595;
    animation: appearanceSmallTextIntro 5s forwards;
}

.photoBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo {
    border-radius: 50%;
    height: 450px;
    animation: appearanceSmallTextIntro 5s forwards;
}

.photoBoxMobile {
    display: none;
}

/* gallery */

.gallery {
    margin-top: 150px;
    margin-bottom: 240px;
}

.feauturedWork {
    margin-bottom: 80px;
    max-width: 230px;
    display: flex;
    justify-content: space-between;
    animation: appearanceSmallTextIntro 7s forwards;
}

.feauturedWork:hover {
    cursor: pointer;
}

.fText {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #DEDEDE;
    opacity: 0.7;
}

.galleryBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.galleryPhoto {
    border-radius: 4px;
}

/* Contact */

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.contactBigText {
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #DEDEDE;
}

.contactSmallText {
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #959595;
}

.boxPochta {
    width: 400px;
    height: 60px;
    background: #9D9D9D;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.pochtaEm {
    width: 21px;
}

.pochtaText {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

@keyframes appearance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes appearanceTextIntro {
    from {
        margin-top: -1140px;
    }
    to {
        margin-top: 0;
    }
}

@keyframes appearanceSmallTextIntro {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}