@media screen and (max-width: 1000px) {

    .bigText {
        font-size: 40px;
    }

    .logo {
        display: none;
    }

    .mobileheader {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr 0.5fr;
    }

    .headerNav {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .menu {
        width: 100%;
        justify-content: space-between;
    }

    .intro {
        display: none;
        width: 366px;
        padding: 0;
    }

    .introText {
        display: flex;
        justify-content: center;
    }

    .introBigText {
        width: 100%;
    }

    .photoBox {
        display: none;
    }

    .photoBoxMobile {
        display: flex;
        justify-content: center;
        margin-bottom: 64px;
    }
    
    .introBigText {
        font-size: 36px;
        text-align: center;
    }

    .work {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .workEl {
        max-width: 300px;
        margin-top: 15px;
    }
    .boxContact {
        max-width: 350px;
    }

    .bigText {
        text-align: center;
    }

    .aboutMeH {
        text-align: center;
    }
}
